<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Panacea.Controls" version="0.0.4-beta20190506-1414-gb830ab2" targetFramework="net462" />
  <package id="Panacea.Core" version="1.1.0" targetFramework="net462" />
  <package id="Panacea.Modularity" version="0.0.2" targetFramework="net462" />
  <package id="Panacea.Modularity.UiManager" version="5.0.0" targetFramework="net462" />
  <package id="Panacea.Multilinguality" version="0.1.1" targetFramework="net462" />
</packages>